---
layout: workshop
root: .
venue: The Nowgen Centre, University of Manchester
address: 29 Grafton Street, Manchester, M13 9WU
country: United-Kingdom
humandate: Nov 10-14, 2014
humantime: 9:00 am - 5:00 pm
startdate: 2014-11-10
enddate: 2014-11-14
latlng: 53.463651,-2.227592
registration: restricted
instructor: ["Aleksandra Pawlik", "Aleksandra Nenadic"]
helper: ["Andy Brass, Mike Cornell"]
contact: admin-uk@software-carpentry.org
#redirect: http://www.3rd.party.workshop.home.page.com
#eventbrite: 00000000000
lessons: ['Python', 'Git', 'Bash', 'VM']
---
<!--
    Edit the values in the parameter block above to be appropriate for your workshop.
    Please use three-letter month names for the 'humandate' field.
-->


<h2>General Information</h2>

<p>
    <a href="//software-carpentry.org">Software Carpentry</a>'s mission
    is to help scientists and engineers become more productive
    by teaching them basic lab skills for computing
    like program design, version control, data management, and task automation.
    This workshop (lasting 3 days: 10-12th November) is a part of the 5-day MSc Clinical Bioinformatics programme (10-14th November).
    During the hands-on training sessions we will cover core skills such as
    effectively working with command line, structured software development
    and version control.
    The participants will be encouraged to help one another
    and to apply what they have learned to their own research problems.
</p>

<!--
    Modify this block to reflect the target audience for your workshop.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
    <strong>Who:</strong>
    The course is aimed at the postgraduate students of the MSc Clinical Bioinformatics course at the University of Manchester.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
    <strong>Where:</strong>
    {{ page.address }}.
    Get directions with
    <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
    or
    <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
    <strong>Requirements:</strong>
    Participants will work on the Software Carpentry Virtual Machines provided by the University.
    They are also required to abide by Software Carpentry's
    <a href="http://software-carpentry.org/conduct.html">Code of Conduct</a>.
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
    <strong>Contact</strong>:
    Please mail
    {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
    {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
    {% endif %}
    for more information.
</p>

<hr/>

<!--
    Edit this block to show the schedule for your workshop.
-->
<h2>Schedule</h2>

<div class="row-fluid">
    <div class="span5">
        <h3>Day 1, Monday 10th November</h3>
        <table class="table table-striped">
            <tr> <td>9:00</td> <td>iPad induction</td> </tr>
            <tr> <td><em>10:30</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>11:00</td> <td>Introduction and learning objectives</td> </tr>
            <tr> <td>12:00</td> <td><em>Lunch break</em></td> </tr>
            <tr> <td>13:00</td> <td>Working effectively with command line - part 1</td> </tr>
            <tr> <td><em>15:00</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>15:30</td> <td>Working effectively with command line - part 2</td> </tr>
            <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
        </table>
    </div>
    <div class="span5">
        <h3>Day 2, Tuesday 11th November</h3>
        <table class="table table-striped">
            <tr> <td>09:00</td> <td>Version control with Git - part 1</td> </tr>
            <tr> <td><em>10:30</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>11:00</td> <td>Version control with Git - part 2</td> </tr>
            <tr> <td>12:00</td> <td><em>Lunch break</em></td> </tr>
            <tr> <td>13:00</td> <td>Collaborative work using Git and GitHub</td> </tr>
            <tr> <td>14:00</td> <td>Building programs with Python - part 1</td> </tr>
            <tr> <td><em>15:00</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>15:30</td> <td>Building programs with Python - part 2</td> </tr>
            <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
        </table>
    </div>
    <div class="span5">
        <h3>Day 3, Wednesday 12th November</h3>
        <table class="table table-striped">
            <tr> <td>09:00</td> <td>Building programs with Python - part 3</td> </tr>
            <tr> <td><em>10:30</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>11:00</td> <td>Using scientific libraries for Python</td> </tr>
            <tr> <td>12:00</td> <td><em>Lunch break</em></td> </tr>
            <tr> <td>13:00</td> <td>Testing your Python code</td> </tr>
            <tr> <td><em>15:00</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>15:30</td> <td>Working effectively with IPython Notebook</td> </tr>
            <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
        </table>
    </div>
    <div class="span5">
        <h3>Day 4, Thursday 13th November</h3>
        <table class="table table-striped">
            <tr> <td>09:00</td> <td>User requirements gathering and testing - part 1</td> </tr>
            <tr> <td><em>10:30</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>11:00</td> <td>User requirements gathering and testing - part 2</td> </tr>
            <tr> <td>12:00</td> <td><em>Lunch break</em></td> </tr>
            <tr> <td>13:00</td> <td>ELIXIR requirements gathering</td> </tr>
            <tr> <td>14:00</td> <td>Case study – design and implementation of a gene file parser - part 1</td> </tr>
            <tr> <td><em>15:00</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>15:30</td> <td>Case study - design and implementation of a gene file parser - part 2</td> </tr>
            <tr> <td>16:45</td> <td>Wrap-up</td> </tr>
        </table>
    </div>
    <div class="span5">
        <h3>Day 5, Friday 14th November</h3>
        <table class="table table-striped">
            <tr> <td>09:00</td> <td>Case study (continued) - complete the writing and documentation of a parser appropriate for a clinical bioinformatics lab in the NHS</td> </tr>
            <tr> <td><em>10:30</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>11:00</td> <td>Case study - part 4</td> </tr>
            <tr> <td>12:00</td> <td><em>Lunch break</em></td> </tr>
            <tr> <td>13:00</td> <td>Case study - part 5</td> </tr>
            <tr> <td><em>15:00</em></td> <td><em>Coffee break</em></td> </tr>
            <tr> <td>15:30</td> <td>Case study - part 6</td> </tr>
            <tr> <td>16:00</td> <td>Wrap-up</td> </tr>
        </table>
    </div>
</div>

<hr/>

<!--
    Edit this block to show what topics will be covered.
-->
<h2>Syllabus</h2>

<div class="row-fluid">
    <div class="span5">
        <h3>The Unix Shell</h3>
        <ul>
            <li>Files and directories: <code>pwd</code>, <code>cd</code>, <code>ls</code>, <code>mkdir</code>, ...</li>
            <li>History and tab completion</li>
            <li>Pipes and redirection</li>
            <li>Looping over files</li>
            <li>Creating and running shell scripts</li>
            <li>Finding things: <code>grep</code>, <code>find</code>, ...</li>
            <li><a href="novice/ref/01-shell.html">Reference...</a></li>
        </ul>
        <div class="alert"><a href="intermediate/shell/index.html">Lessons</a></div>
        <h4>Lessons</h4>
        <ul>
            <li><a href="intermediate/shell/01-perm.html">Lesson 1: Permissions</a></li>
            <li><a href="intermediate/shell/02-ssh.html">Lesson 2: SSH</a></li>
            <li><a href="intermediate/shell/03-var.html">Lesson 3: Variables</a></li>
            <li><a href="intermediate/shell/04-job.html">Lesson 4: Job control</a></li>
            <li><a href="intermediate/shell/05-expansion.html">Lesson 5: Filename Expansion</a></li>
        </ul>
    </div>
    <div class="span5">
        <h3>Programming in Python</h3>
        <ul>
            <li>Using libraries</li>
            <li>Working with arrays</li>
            <li>Reading and plotting data</li>
            <li>Creating and using functions</li>
            <li>Loops and conditionals: <code>for</code>, <code>if</code>, <code>else</code>, ...</li>
            <li>Defensive programming</li>
            <li>Using Python from the command line</li>
            <li><a href="novice/ref/03-python.html">Reference...</a></li>
        </ul>
        <div class="alert"><a href="intermediate/python/index.html">Lessons</a><a href="https://github.com/anenadic/2014-11-10-manchester/blob/gh-pages/data/python-data.zip?raw=true"> Data files for the Python class</a></div>
        <h4>Lessons</h4>
        <ul>
            <li><a href="intermediate/python/01-intro-python.html">Lesson 1: Introduction</a></li>
            <li><a href="intermediate/python/02-modularization-documentation.html">Lesson 2: Modularization and Documentation</a></li>
            <li><a href="intermediate/python/03-qa.html">Lesson 3: Testing</a></li>
            <li><a href="intermediate/python/04-multiprocessing.html">Lesson 4: Parallel programming</a></li>
        </ul>
    </div>
    <div class="span5">
        <h3>Version Control with Git</h3>
        <ul>
            <li>Creating a repository</li>
            <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
            <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
            <li>Ignoring files</li>
            <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
            <li>Resolving conflicts</li>
            <li>Open licenses</li>
            <li>Where to host work, and why</li>
            <li><a href="novice/ref/02-git.html">Reference...</a></li>
        </ul>
        <div class="alert"><a href="novice/git/index.html">Lessons</a></div>
        <ul>
            <li><a href="intermediate/git/00-intro.html">Lesson 1: Introduction</a></li>
            <li><a href="intermediate/git/01-conversational-git.html">Lesson 2: Conversational git</a></li>
            <li><a href="intermediate/git/02-relational-structure.html">Lesson 3: Structure of a git repository</a></li>
        </ul>
    </div>
</div>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your workshop.
    (In particular, most workshops teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
    The participants will be working on the Software Carpentry Virtual Machines setup up on the computers at the university lab.
</p>

{% include setup.html %}
