<h3>Overview</h3>

<div class="row-fluid">

  <div class="span6">
{% if page.lessons contains 'VM' %}
    <h4>Virtual Machine</h4>
    <p>
      If you wish to try out the Virtual Machine on your own 
      laptop/desktop, please follow these steps:
    </p>
    <ol>
      <li>
	Install <a href="https://www.virtualbox.org/">VirtualBox</a>.
      </li>
      <li>
	Download our <a href="{{site.vm_url}}">VM image</a>.
	<strong>Warning:</strong>
	this file is 1.7 GByte,
	so please download it <em>before</em> coming to your workshop.
      </li>
      <li>
	Load the VM into VirtualBox by selecting "Import Appliance"
	and loading the <code>.ova</code> file.
      </li>
    </ol>
{% endif %}
  </div>
</div>
